[submodule "vslam_stereo_visibility_bridge/src/rss12_stereo_visibility"]
	path = vslam_stereo_visibility_bridge/src/rss12_stereo_visibility
	url = ssh://git.laas.fr/git/jrl/vision/slam_stereo_visibility.git
