<!-- -*- xml -*-
     
     This logs all robot sensors and activity in order to allow map building. To be used with stereo_image_saver.
     
  -->
<launch>
  <node pkg="rosbag" type="rosbag" name="rosbag_record"
	args="record -o /tmp/slam-map /wide/left/image_raw /wide/left/camera_info /wide/right/image_raw /wide/right/camera_info /imu /joint_state /joint_command /force_0 /force_1 /force_2 /force_3 /dynamic_graph/base_footprint /dynamic_graph/base_link /dynamic_graph/com /dynamic_graph/joint_states /dynamic_graph/zmp /diagnostics /plan_left_ankle /rosout"/>
</launch>
