<!-- -*- xml -*-

     This plays back a recorded video sequence and localize the
     camera.

  -->
<launch>
  <arg name="bag_file" />
  <arg name="give_prior" default="true" />
  <arg name="control_only" default="false" />
  <arg name="disable_control" default="false" />
  <arg name="postprocess_pose" default="true" />

  <arg name="launch_prefix" default="" />

  <!-- Use the timestamps embedded in the ROS bag file -->
  <param name="use_sim_time" value="true" />

  <!-- Play the video sequence, publish the clock topic to preserve
       the original timestamps. -->
  <node pkg="rosbag" type="rosbag" name="rosbag"
	args="play --clock -k $(arg bag_file)"/>

  <!-- Record the camera trajectory. -->
  <node pkg="rosbag" type="rosbag" name="rosbag_record"
args="record -o /tmp/slam-camera_position /slam_node/camera_position /error /error_mapPose /error_planPose"/>

  <!-- Launch the tracking node -->
  <node pkg="vslam_stereo_visibility_bridge" type="vslam"
	name="vslam"
	cwd="node"
	launch-prefix="$(arg launch_prefix)">
    <param name="camera_prefix" value="/wide" />

    <param name="map_frame_id" value="/map" />
    <param name="world_frame_id" value="/world"/>
    <param name="localize_from_control_only" value="$(arg control_only)" />
    <param name="give_slam_prior" value="$(arg give_prior)" />
    <param name="disable_control" value="$(arg disable_control)" />
    <param name="postprocess_pose" value="$(arg postprocess_pose)" />
  </node>

  <!-- Image processing nodes. -->
  <group ns="/wide/left">
    <node pkg="image_proc" type="image_proc" name="image_proc_left" />
  </group>
  <group ns="/wide/right">
    <node pkg="image_proc" type="image_proc" name="image_proc_right" />
  </group>

  <!-- command -->
  <param name="robot_description"
	 textfile="$(find hrp2_14_description)/urdf/hrp2.urdf"
	 unless="$(arg disable_control)" />
  <group ns="dynamic_graph" unless="$(arg disable_control)">
    <node name="robot_state_publisher"
	  pkg="robot_state_publisher"
	  type="state_publisher"
	  respawn="true"
	  />

    <node name="tf_broadcaster"
	  pkg="dynamic_graph_bridge"
	  type="tf_broadcaster"
	  respawn="true"
	  unless="$(arg disable_control)"
	  />
  </group>

  <node name="error_estimator"
	pkg="vslam_stereo_visibility_bridge"
	type="error-estimation.py"
	respawn="true"
	unless="$(arg disable_control)">
    <param name="base_link_map_frame_id" value="/left_ankle" />
    <param name="base_link_plan_frame_id" value="/plan_left_ankle" />
    <param name="map_frame_id" value="/map" />
    <param name="plan_frame_id" value="/world" />
  </node>
</launch>
